<div class="card mt-3" *ngFor="let userAdventure of userAdventures">
    <div class="card-body">
        <h5 class="card-title">{{userAdventure.name}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary"[routerLink]="['/user-adventure',userAdventure.id]">View this adventure</a>
    </div>
</div>
<div class="float-end">
    <a href="#" class="btn btn-primary mt-3" routerLink="">Take new Adventure</a>
</div>
